{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    ["@babel/plugin-transform-modules-umd", {
      exactGlobals: true,
      globals: {
        index: 'AudioEngine'
      }
    }]
  ]
}